@import "variables.scss";

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 800px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: $theme1;
    padding-top: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

.container .text-muted {
    margin: 20px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.text-primary {
    color: $theme1;
}

.form-control,
.btn {
    border-radius: 0 !important;
}

.noP {
    padding: 0 !important;
}
h1,h2,h3,h4,h5 {
    font-weight: 100;
    margin-bottom: 20px;
}
p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
    font-weight: 100;
}

a {
    color: $theme1;
    &:hover,
    &:focus,
    &:active,
    .active {
        color: darken($theme1, 10%);
        text-decoration: none;
        outline: none;
    }
}

.global {
    margin: 0 auto;
    width: 500px;
    .box {
        background: $white;
        border-radius: 4px;
        padding-top: 10px;
    }
    .row {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}


/* label color */

.input-field label, .input-field textarea {
    color: $theme1;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: $theme1;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid $theme1;
    box-shadow: 0 1px 0 0 $theme1;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid $theme1;
    box-shadow: 0 1px 0 0 $theme1;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid $theme1;
    box-shadow: 0 1px 0 0 $theme1;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: $theme1;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $theme1;
    box-shadow: 0 1px 0 0 $theme1;
}
input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: $theme1;
}
.switch {
    margin-bottom: 20px;
}
.switch label input[type=checkbox]:checked + .lever {
    background-color: $theme1;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: $theme1;
    left: 24px;
}
.logo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: $white;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 30px;
    img {
        width: 100px;
        margin: 0 auto;
    }
}
.btn {
    background-color: $theme1;
    &:hover,
    &:focus,
    &:visited,
    &:active {
        background-color: $theme1;
    }
}



/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color: $theme1;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i.fa {
    color: $theme1;
  }

@media (max-width:769px) {
    .global {
        width: 100% !important;
    }
    .pull-right {
        float: none;
    }
    .card-content ul.stepper {
        margin: 1em -24px;
        padding: 0 10px;
    }
    .stepper{
        .step-content {
            position: relative;
            display: none;
            height: calc(100% - 132px);
            width: inherit;
            overflow: visible;
            margin-left: 31px !important;
            margin-right: 14px !important;
        }
    } 
}


@media (min-width:993px) {
    ul.stepper.horizontal {
        position: relative;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        min-height: 500px;
    }
}
